<div class="box-area">
  <header class="page-header">
    <div class="wrapper">
          <div class="logo">
            <a href="/"><img src="/assets/blog/logo.png" alt="logo-image" height=70px width=70px>   
          </div>
          <div class="logo-text">
            <a href="/">Music & Mischief!</a> 
          </div>

          {# Nav Bar #}

          <nav class="nav-bar">
            <ul role="list" class="nav-list flex-group">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about/">About us</a>
              </li>
              <li>
                <a href="/blog/">Blogs</a>
              </li>
              <li>
                  <a href="/contact/">Contact us</a>
                </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="banner-area">
        <h2>Fixed Banner</h2>
      </div>
        </div>