<header class="page-header">
    <div class="container">
      <div class="page-header__content">
        <div class="wrapper">
          <div class="logo">
            <div class="logo-image">
          <a href="/"><img src="/assets/logo.jpg" alt="logo-image" width="180" height="180"></a>
        </div>
          </div>
        </div>
        <nav>
          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="/blog/">Blogs</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>