---
title: Contact
layout: 'base.njk'
---

<div class="contact-container">
    <div class="contact-box">
        <div class="contact-left"></div>
        <div class="contact-right">
            <h2>Sign up today!</h2>
    <form name="contact-page"  method="POST" data-netlify="true">   
    <label for="first-name">First Name:</label>
      <input type="text" class="contact-field" id="first-name" name="first-name" required><br><br>
      
      <label for="surname">Surname:</label>
      <input type="text" class="contact-field" id="surname" name="surname" required><br><br>
      
      <label for="email">Email:</label>
      <input type="email" class="contact-field" id="email" name="email" required><br><br>
      
      <label for="message">Message:</label><br>
      <textarea id="message" class="contact-field" name="message" rows="4" cols="50" required></textarea><br><br>
      
      <label for="terms">I accept the <a href="#">terms and conditions</a>:</label>
      <input type="checkbox" class="contact-field" id="terms" name="terms" required><br><br>
      
      <input type="submit" name="submit" class="contact-btn">
      
      </form>

        </div>
    </div>
</div>


